*{
    margin:0;
    padding:0;

}

body{
    font-family:'Gabarito',sans-serif;
}

.navbar{
    padding:10px;
    display:flex;
    justify-content: space-between;
    border-bottom:solid black 1PX;
    align-items: center;
    gap:10px
    
}

.navbar__s1__title{
    color: #a435f0;
}
.navbar__s2{
    padding:10px;
    border:solid black 1px;
    border-radius: 30px;
    width:60%;
    display: flex;
    align-items: cen;
    gap:10px;
}
.navbar__s2 input{
    border:none;
    width: 100%;
    font-size: 16px;
    align-items: center;
}

.navbar__s2 input:focus{
    outline:none;
}

.navbar__s3{
    display:flex;
    gap:10px;
}

.categories{
    display:flex;
    padding:10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
    margin-top: 10px;
}

.categories p{
background-color: #a435f0;
color: white;
padding: 10px;
border-radius:30px;
}

.sale-image img{
    width:100%;

}

.recommended{
    padding:10px;

}

.recommended__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

   
}

.course-card {
    flex: 1 1 200px;
    width: 250px;
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.topics{
    padding:10px;
}

.topics__container{
    display:flex;
    gap:10px;
    margin-top: 10px;
    flex-wrap: wrap;
    
}

.topics__container p{

    border: solid grey 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding:10px;
}

.popular__container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:10px;
}
.popular__container .course-card {
    flex: 1 1 200px;
}

.popular__container .course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.footer {
    padding: 30px;
    background-color: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 100px;
}

.footer__one p {
    margin: 10px 0;
}

.footer__two {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}